<div class="smartTable-header">
	<div class="smartTable-pageSize">
		<span>每页展示</span>
		<select ng-options="pageSize.name for pageSize in smartTable.pageSizes" class="form-control" ng-model="smartTable.pageSize" ng-change="changePageSize(smartTable.pageSize)"></select>
		<span>条</span>
	</div>
	<div class="smartTable-addRecord" ng-show="smartTable.showAddButton">
		<button class="btn" ng-click="smartTable.addRecord()">
			<i class="icon-plus"></i>新建
		</button>
	</div>
	<div class="smartTable-filter">
		<input class="form-control" type="search" placeholder="Search..." ng-model="smartTable.searchKey" ng-change="changeSearch()"/>
	</div>
	<div class="smartTable-filter-select">
		<ul>
			<li ng-repeat="item in smartTable.filterSelect">
				<select ng-init="selected=item.options[0]" ng-options="data.name for data in item.options" class="form-control" ng-model="selected" ng-change="changeSelect(item, selected)"></select>
		    </li>
		</ul>
	</div>
</div>
<div ng-transclude></div>
<div class="smartTable-footer">
	<div class="smartTable-info">
		<span>显示第 {{smartTable.from + 1}} 到 {{smartTable.to}} 条 / 共计 {{smartTable.result.count}} 条</span>
		<button class="btn btn-sm btn-default" ng-json-export-excel report-fields="smartTable.loadDown.json2excel.excelTitle" filename="smartTable.loadDown.json2excel.excelFileName" url="smartTable.loadDown.json2excel.excelUrl" ng-show="smartTable.loadDown.json2excel.show">下载</button>
		<button class="btn btn-sm btn-default" ng-show="smartTable.loadDown.link.show"><a href="{{smartTable.loadDown.link.url}}">下载</a></button>
	</div>
	<div class="smartTable-pagination">
		<ul class="pagination">
			<li ng-class="{true:'disabled'}[smartTable.currentPage==1]"><a ng-click="flip(1)">首页</a></li>
			<li ng-class="{true:'disabled'}[smartTable.currentPage==1]"><a ng-click="flip(smartTable.currentPage-1)">上一页</a></li>
			<li ng-repeat="page in smartTable.pages" ng-class="{true:'active'}[smartTable.currentPage==page]">
				<a ng-click="flip(page)">{{ page }}</a>
			</li>
			<li ng-class="{true:'disabled'}[smartTable.currentPage==smartTable.totalPage]"><a ng-click="flip(smartTable.currentPage+1)">下一页</a></li>
			<li ng-class="{true:'disabled'}[smartTable.currentPage==smartTable.totalPage]"><a ng-click="flip(smartTable.totalPage)">末页</a></li>
		</ul>
	</div>
</div>
