ul.review_btn > li{
	float: left;
    width: 190px;
    margin: 0 12px 12px 0;
    background: #fff;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    opacity: 0.85;
    opacity: 0.85;
    position: relative;
    z-index: 44;
}
ul.review_btn >li a{
    float: left;
    width: 188px;
    border: 1px solid #e6e6e6;
    color: #999;
    webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    opacity: 1;
    position: relative;
    z-index: 55;
}
ul.review_btn > li .icona{
    background-position: 0px 0px;
}
ul.review_btn > li .iconb{
	background-position: -50px 0px;
}
ul.review_btn > li .iconc{
	background-position: -100px 0px;
}
ul.review_btn > li .icond{
	background-position: -150px 0px;
}
ul.review_btn > li .icone{
	background-position: -200px 0px;
}
ul.review_btn > li .iconf{
	background-position: -250px 0px;
}
ul.review_btn > li .icong{
	background-position: -300px 0px;
}
ul.review_btn > li .iconh{
	background-position: -350px 0px;
}
ul.review_btn > li .iconi{
	background-position: -400px 0px;
}
ul.review_btn > li .iconj{
	background-position: -450px 0px;
}
ul.review_btn > li a:hover .icona,ul.review_btn > li a.active .icona{
    background-position: 0px -50px;
}
ul.review_btn > li a:hover .iconb,ul.review_btn > li a.active .iconb{
	background-position: -50px -50px;
}
ul.review_btn > li a:hover .iconc,ul.review_btn > li a.active .iconc{
	background-position: -100px -50px;
}
ul.review_btn > li a:hover .icond,ul.review_btn > li a.active .icond{
	background-position: -150px -50px;
}
ul.review_btn > li a:hover .icone,ul.review_btn > li a.active .icone{
	background-position: -200px -50px;
}
ul.review_btn > li a:hover .iconf,ul.review_btn > li a.active .iconf{
	background-position: -250px -50px;
}
ul.review_btn > li a:hover .icong,ul.review_btn > li a.active .icong{
	background-position: -300px -50px;
}
ul.review_btn > li a:hover .iconh,ul.review_btn > li a.active .iconh{
	background-position: -350px -50px;
}
ul.review_btn > li a:hover .iconi,ul.review_btn > li a.active .iconi{
	background-position: -400px -50px;
}
ul.review_btn > li a:hover .iconj,ul.review_btn > li a.active .iconj{
	background-position: -450px -50px;
}
ul.review_btn > li a:hover,ul.review_btn > li a.active{
	border:1px solid #90caf9;
}
ul.review_btn > li a:hover p strong,
ul.review_btn > li a:hover p em, ul.review_btn > li a.active p strong,
ul.review_btn > li a.active p em{
	color: #90caf9;
}
ul.review_btn > li>a>i{
    float: left;
    width: 50px;
    height: 50px;
    margin: 30px 13px;
    background: url(../../..//img/jc_icon.png) no-repeat left -51px;
}
ul.review_btn > li .y_txt{
	float: right;
    display: table;
    width: 110px;
    height: 80px;
    padding: 30px 0;
    position: relative;
}
