.slide{
	position:relative;
}
.slideImg{
	position:absolute;
}
.slideImg{
	overflow: hidden;
	position: absolute;
	left: 0;
	top:0;
}
.slideImg ul{
	position: absolute;
}
.slideImg ul li{
	float:left;
	position:absolute;
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	top:0;
	left:0;
	z-index: -10;
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.slideImg ul li.current{
	position: absolute;
	z-index: 10;
	     -o-opacity: 1;
	    -ms-opacity: 1;
	   -moz-opacity: 1;
	-webkit-opacity: 1;
	        opacity: 1;
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.slideImg ul li img{
	width:100%;
	height: 100%;
}
.slideInfo{
	width:100%;
	height: 20%;
	position: absolute;
	top:60%;
	left:0;
	margin-top: -10%;
	
}
.slideInfo ul li{
	position:absolute;
	left: 60%;
	top:0;
	z-index: 11;
	text-align: center;
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	     -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
.slideInfo ul li.current{
	     -o-opacity: 1;
	    -ms-opacity: 1;
	   -moz-opacity: 1;
	-webkit-opacity: 1;
	        opacity: 1;
	left:50%;
	     -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
.slideInfo ul li h2,.slideInfo ul li p{
	color: #fff;
}
.slideInfo ul li h2{
	font-size: 48px;
}
.slideInfo ul li p{
	font-size: 30px;
}
.slideInfo button{
	position: absolute;
	top:0;
	font-size: 46px;
	color:#fff;
	z-index: 15;
	background: transparent;
	border: 0;
}
.slideInfo .ltBtn{
	left:0;
}
.slide .rtBtn{
	left:95%;
}
.slide .step{
	position:absolute;
	left: 50%;
	top:95%;
	margin-left:-31px;
	z-index: 20;
}
.slide .step li{
	float: left;
	margin-left:5px;
	width:14px;
	height:14px;
	border: 1px solid #fff;
	border-radius:8px;
}
.slide .step li.current{
	width:16px;
	height:16px;
	background-color: #90CAF9;
}
.search{
	position:absolute;
	top:13%;
	left:50%;
	z-index: 20;
}
.search .searchArea input{
	height:55px;
	padding-left:10px;
	border-radius: 50px;
	border:0;
	background-color: rgba(255,255,255,.8);
}
.search .searchArea input:focus{
	background-color: #fff;
}
@media (max-width: 768px){
	.search{
		margin-left:-150px;
	}
	.search .searchArea input{
		width:300px;
	}
}
@media (min-width: 769px and max-width: 1140px){
	.search{
		margin-left:-200px;
	}
	.search .searchArea input{
		width:400px;
	}
}
@media (min-width: 1141px){
	.search{
		margin-left:-250px;
	}
	.search .searchArea input{
		width:500px;
	}
}
.search_btn{
	position:absolute;
	right:2%;
	top:50%;
	font-size: 20px;
	margin-top: -14px;
}
.fadeIndow,.fadeIndow-next,.skill,.diamonds_info,.fadeIndow-next-1{
	position:relative;
	margin-top: 80px;
	margin-bottom: 60px;
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
	     -o-transform: translateY(-300px);
	    -ms-transform: translateY(-300px);
	   -moz-transform: translateY(-300px);
	-webkit-transform: translateY(-300px);
	        transform: translateY(-300px);
	text-align: center;
}
.fadeDown{
	     -o-transform: translateY(0);
	    -ms-transform: translateY(0);
	   -moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	     -o-opacity: 1;
	    -ms-opacity: 1;
	   -moz-opacity: 1;
	-webkit-opacity: 1;
	        opacity: 1;
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.fadeIndow h1,.fadeIndow-next h1,.skill h1,.diamonds_info h1,.fadeIndow-next-1 h1{
	font-size:50px;
	color:#90CAF9;
}
.fadeIndow p,.fadeIndow-next p,.skill p,.diamonds_info p,.fadeIndow-next-1 p{
	margin-top: 20px;
}
.wow-l{
	     -o-transform:translateX(-3000px);
	    -ms-transform:translateX(-3000px);
	   -moz-transform:translateX(-3000px);
	-webkit-transform:translateX(-3000px);
	        transform:translateX(-3000px);
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.wow-r{
	     -o-transform:translateX(3000px);
	    -ms-transform:translateX(3000px);
	   -moz-transform:translateX(3000px);
	-webkit-transform:translateX(3000px);
	        transform:translateX(3000px);
}
.bounce{
	     -o-transform:translateX(0);
	    -ms-transform:translateX(0);
	   -moz-transform:translateX(0);
	-webkit-transform:translateX(0);
	        transform:translateX(0);
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.showBtn{
  	margin-bottom: 80px;
}
.wrap ul li{
	padding:20px;
	border:1px solid #90CAF9;
	margin-bottom: 20px;
}
.rotate-l{
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	     -o-transform:rotate(-60deg);
	    -ms-transform:rotate(-60deg);
	   -moz-transform:rotate(-60deg);
	-webkit-transform:rotate(-60deg);
	        transform:rotate(-60deg);
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.rotate-r{
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	     -o-transform:rotate(60deg);
	    -ms-transform:rotate(60deg);
	   -moz-transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
	        transform:rotate(60deg);
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.wow-m{
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	     -o-transform: translateY(-3000px);
	    -ms-transform: translateY(-3000px);
	   -moz-transform: translateY(-3000px);
	-webkit-transform: translateY(-3000px);
	        transform: translateY(-3000px);
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.rotate-current{
	     -o-opacity: 1;
	    -ms-opacity: 1;
	   -moz-opacity: 1;
	-webkit-opacity: 1;
	        opacity: 1;
	     -o-transform: translate(0);
    	-ms-transform: translate(0);
	   -moz-transform: translate(0);
	-webkit-transform: translate(0);
	        transform: translate(0);
	     -o-transform: rotate(0);
	    -ms-transform: rotate(0);
	   -moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	        transform: rotate(0);
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.roll{
	margin-bottom: 20px;
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	     -o-transition: all 1.5s ease-in-out;
	    -ms-transition: all 1.5s ease-in-out;
	   -moz-transition: all 1.5s ease-in-out;
	-webkit-transition: all 1.5s ease-in-out;
	        transition: all 1.5s ease-in-out;
}
.rollVisable{
	height:300px;
	position:relative; 
	overflow: hidden;
}
.rollVisable ul.rollArea{
	position:absolute;
	height:300px;
	top:0;
	     -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
.rollVisable ul.rollArea li{
	float: left;
	box-sizing: border-box;
	padding:10px;
	text-align: center;
}
.rollVisable ul.rollArea li img{
	width: 113px;
	height: 113px;
	border-radius: 50%;
}
 .tag{
	width: 60px;
	position: absolute;
	top:92%;
	left: 50%;
	margin-left: -21px;
	z-index: 15;
}
.tag li{
	float:left;
	width: 16px;
	height: 16px;
	border: 1px solid #90CAF9;
	border-radius: 8px;
	margin-right: 5px;
}
.tag li.current{
	width:16px;
	height: 16px;
	background-color: #90CAF9;
	box-shadow: 0 0 10px #000;
}
.pie div.container li{
	height: 300px;
	text-align: center;
	margin-bottom: 20px;
}
.diamonds{
	width:100%;
	background: #ddd;
	padding-bottom: 120px;
	position: relative;
}
.diamonds ul.pic li{
	float:left;
	position:relative;
	margin-top: 20px;
}
.diamonds ul.pic:after{
	content: "";
	display: table;
	clear:both;
}
.diamonds ul.pic li a{
	width: 0;
	height:0;
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	text-align: center;
	left: 18px;
	top:18px;
	font-size: 0;
	line-height: 35px;
	     -o-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}
.diamonds ul.pic li img:hover ~ a,.diamonds ul.pic li img:hover ~ a:hover{
	width: 36px;
	height: 36px;
	     -o-opacity: 1;
	    -ms-opacity: 1;
	   -moz-opacity: 1;
	-webkit-opacity: 1;
	        opacity: 1;
	left: 0;
	top:0;
	font-size:100%;
	     -o-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}
.diamonds ul.pic li a i{
	color:#fff;
}
.pic_visable{
	position: relative;
	overflow: hidden;
}
.pic_visable .pic{
	position: absolute;
	left:0;
	top:0;
	     -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
/*图片筛选*/
/* ------ filtrey
-----------------------------------------------*/
#content{
	width:100%;
	margin:20px auto;
	     -o-opacity: 0;
	    -ms-opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	        opacity: 0;
	     -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
#content:after{
	content:"";
	display: table;
	clear: both;
}
.filters {
	float:left;
	clear:both;
}
.filters .filter {
	float: left;
	clear:both;
	width:100%;
	padding:20px;
	margin-bottom:20px;
	background:#545454;
	background:rgba(255, 255, 255, .1);
}
.filters .filter a {
	float:left;
	display:block;
	border:1px solid #90CAF9;
	padding:5px;
	margin-right:20px;
	font-size:11px;
	text-transform:uppercase;
	outline:none;
}
.filters .filter .active {
	background:#90CAF9;
	color:#fff;
}
.filters .container {
	float:left;
	clear:both;
	width:100%;
	position:relative;
}
.filters .container ul, .filters .container ul li {
	display:block;
	list-style:none;
	padding:0;
	margin:0;
}
.filters .container ul li {
	float:left;
	margin:0;
	font-size:0;
	line-height:0;
}
.filters .container ul a {
	display:block;
	float:left;
}
.hotWrapper{
	margin-bottom: 60px;
}