<header class="console-nav intransparent" ng-controller = "menuController">
    <!--div class="logo"><i class="icon-address text-info"></i> 数据交换平台</div-->

    <div class="navbar-header">
                    <!-- Logo -->
        <a class="brand" href="/graduation/healthyDXP/WEB-INF/health-view/#/index"><img class="logo" id="logo" src="../../static/img/logo.png" alt="logo"><span>健康管理平台</span></a>
    </div>
    <ul class="menu">
        <li ui-sref = "index">
            <i class="icon-align-left"></i>
            Home
        </li>
        <li class = "text-muted">
            <i class="icon-podcast"></i>
            保健养生
            <ul>
                <li ui-sref="reRegist.step1"><i class="icon-list-add text-info"></i> 资源注册</li>
                <li ui-sref="publish.step1"><i class="icon-briefcase text-success"></i> 数据接入</li>
                <li ui-sref="reRegistList"><i class="icon-doc-text text-info"></i> 我的注册</li>
                <li ui-sref="myPublishment"><i class="icon-doc-text text-success"></i> 我的接入</li>
            </ul>
        </li>
        <li ng-class ="{active:menuForAsk}">
            <i class="icon-address"></i>
            健康监测
            <ul>
                <li ui-sref = "review"><i class="icon-anchor text-info"></i> 健康评估</li>
                <li ui-sref = "subscriptionDataList"><i class="icon-list-numbered text-success"></i> 健康档案</li>
            </ul>
        </li>
        <li ng-class ="{active:menuForQuestion}" ui-sref = "question">
            <i class="icon-skyatlas"></i>
            健康问卷
        </li>
        <li class = "text-muted">
            <i class="icon-shuffle"></i>
            慢病预防
            <ul>
                <li ui-sref="applyCenter"><i class="icon-box-2 text-info"></i> 流程申请</li>
                <li ui-sref="myApply"><i class="icon-user text-success"></i> 我的申请</li>
                <li ui-sref="pendingApproval"><i class="icon-clock text-info"></i> 审批待办</li>
                <li ui-sref="applyList"><i class="icon-doc text-success"></i> 工单记录</li>
            </ul>
        </li>
        <li class = "text-muted">
            <i class="icon-key"></i>
            疾病症状
            <ul>
                <li ui-sref="roleAuthority"><i class="icon-king text-info"></i> 角色权限</li>
                <li ui-sref="userAuthority"><i class="icon-users-1 text-success"></i> 用户管理</li>
            </ul>
        </li>
        <li class = "text-muted">
            <i class="icon-tools"></i>
            关于我们
            <ul>
                <li class = "text-muted"><i class="icon-newspaper text-info"></i> 日志管理</li>
                <li class = "text-muted"><i class="icon-book text-success"></i> 字典管理</li>
                <li class = "text-muted"><i class="icon-shareable text-info"></i> 运行监控</li>
                <li ui-sref="nodeLsit"><i class="icon-sitemap text-success"></i> 节点管理</li>
            </ul>
        </li>
    </ul>
    <div class="account">
        <ul class="menu">
            <li>
                <i class="icon-user-outline text-info"></i> {{username}}<i class="icon-down-dir-1"></i>
                <ul>
                    <li ng-click = "cancelLogin()"><i class="icon-off"></i> 注&nbsp;&nbsp;销</li>
                </ul>
            </li>
    </div>
</header>