<header class="console-nav intransparent" ng-controller = "menuController">
    <!--div class="logo"><i class="icon-address text-info"></i> 数据交换平台</div-->

    <div class="navbar-header">
                    <!-- Logo -->
        <a class="brand" href="/graduation/healthyDXP/WEB-INF/health-view/#/index"><img class="logo" id="logo" src="../../static/img/logo.png" alt="logo"><span>健康管理平台</span></a>
    </div>
    <ul class="menu">
        <li ui-sref = "index">
            <i class="icon-align-left"></i>
            Home
        </li>
        <li ui-sref="healthyNews">
            <i class="icon-podcast"></i>
            保健养生
        </li>
        <li ng-class ="{active:menuForAsk}">
            <i class="icon-address"></i>
            健康监测
            <ul>
                <li ui-sref = "review"><i class="icon-anchor text-info"></i> 健康评估</li>
                <li class = "text-muted"><i class="icon-list-numbered text-success"></i> 健康档案</li>
            </ul>
        </li>
        <li ng-class ="{active:menuForQuestion}" ui-sref = "question">
            <i class="icon-skyatlas"></i>
            健康问卷
        </li>
        <li ng-class ="{active:menuForBBC}" ui-sref = "BBCindex">
            <i class="icon-shuffle"></i>
            吐槽区
            <ul>
                <li ui-sref = "BBCindex"><i class="icon-anchor text-info"></i> 吐槽</li>
                <li class = "text-muted"><i class="icon-list-numbered text-success"></i>广场</li>
            </ul>
        </li>
        <li class = "text-muted">
            <i class="icon-key"></i>
            疾病症状
            <ul>
                <li ui-sref="roleAuthority"><i class="icon-king text-info"></i> 查询</li>
                <li ui-sref="userAuthority"><i class="icon-users-1 text-success"></i> 问诊</li>
            </ul>
        </li>
        <li class = "text-muted">
            <i class="icon-tools"></i>
            关于我们
            <ul>
                <li class = "text-muted"><i class="icon-newspaper text-info"></i> 了解</li>
            </ul>
        </li>
    </ul>
    <div class="account">
        <ul class="menu">
            <li>
                <i class="icon-user-outline text-info"></i> Admin<i class="icon-down-dir-1"></i>
                <ul>
                    <li ng-click = "cancelLogin()"><i class="icon-off"></i> 注&nbsp;&nbsp;销</li>
                </ul>
            </li>
    </div>
</header>