<ul>
	<li class = "f-l" ng-click = "choose(0)"><button class="btn btn-xs btn-info">血压</button></li>
	<li class = "f-l m-l-xs" ng-click = "choose(1)"><button class="btn btn-xs btn-info">脉搏</button></li>
</ul>
<div class = "clearfix" ng-show = "tip[0]">
	<div class="col-md-2 t-r m-t-md">
	<label for="">
		收缩压（高压）:
	</label>
	</div>
	<div class="col-md-8 m-b-md m-t-md">
		<input type="range" name="" min="50" max="300" class = "form-contorl col-xs-10" ng-model = "heigh" ng-init = "heigh = 50">{{heigh}}mmHg
	</div>
	<div class="col-md-2 m-b-md m-t-md">
		<button class="btn btn-sm btn-info" ng-click= "subA();">记录</button>
	</div>
	<div class = "clearfix"></div>
	<div class="col-md-2 t-r m-t-md">
	<label for="">
		舒张压（低压）:
	</label>
	</div>
	<div class="col-md-8 m-b-md m-t-md">
		<input type="range" name="" min="50" max="300" class = "form-contorl col-xs-10" ng-model = "low" ng-init = "low = 50">{{low}}mmHg
	</div>
	<div class="col-md-2 m-b-md m-t-md">
		<button class="btn btn-sm btn-info" ng-click= "subA();">记录</button>
	</div>
	<canvas id = "canvasB_1" width = "1050px" height = "300px"></canvas>
</div>
<div class = "clearfix" ng-show = "tip[1]">
	<div class="col-md-2 t-r m-t-md">
	<label for="">
		脉搏:
	</label>
	</div>
	<div class="col-md-8 m-b-md m-t-md">
		<input type="range" name="" min="1" max="200" class = "form-contorl col-xs-10" ng-model = "weight" ng-init = "weight = 0">{{weight}}Kg
	</div>
	<div class="col-md-2 m-b-md m-t-md">
		<button class="btn btn-sm btn-info" ng-click= "subA();">记录</button>
	</div>
	<canvas id = "canvasB_2" width = "1050px" height = "300px"></canvas>
</div>