<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guangbo.dao.mapper.BloodFatMapper" >
  <resultMap id="BaseResultMap" type="com.guangbo.dao.entity.BloodFat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cholesterol" property="cholesterol" jdbcType="INTEGER" />
    <result column="triglyceride" property="triglyceride" jdbcType="INTEGER" />
    <result column="high_cholesterol" property="highCholesterol" jdbcType="INTEGER" />
    <result column="low_cholesterol" property="lowCholesterol" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cholesterol, triglyceride, high_cholesterol, low_cholesterol, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guangbo.dao.entity.BloodFatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blood_fat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blood_fat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blood_fat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guangbo.dao.entity.BloodFatExample" >
    delete from blood_fat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guangbo.dao.entity.BloodFat" >
    insert into blood_fat (id, cholesterol, triglyceride, 
      high_cholesterol, low_cholesterol, time
      )
    values (#{id,jdbcType=INTEGER}, #{cholesterol,jdbcType=INTEGER}, #{triglyceride,jdbcType=INTEGER}, 
      #{highCholesterol,jdbcType=INTEGER}, #{lowCholesterol,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guangbo.dao.entity.BloodFat" >
    insert into blood_fat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cholesterol != null" >
        cholesterol,
      </if>
      <if test="triglyceride != null" >
        triglyceride,
      </if>
      <if test="highCholesterol != null" >
        high_cholesterol,
      </if>
      <if test="lowCholesterol != null" >
        low_cholesterol,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cholesterol != null" >
        #{cholesterol,jdbcType=INTEGER},
      </if>
      <if test="triglyceride != null" >
        #{triglyceride,jdbcType=INTEGER},
      </if>
      <if test="highCholesterol != null" >
        #{highCholesterol,jdbcType=INTEGER},
      </if>
      <if test="lowCholesterol != null" >
        #{lowCholesterol,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guangbo.dao.entity.BloodFatExample" resultType="java.lang.Integer" >
    select count(*) from blood_fat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blood_fat
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cholesterol != null" >
        cholesterol = #{record.cholesterol,jdbcType=INTEGER},
      </if>
      <if test="record.triglyceride != null" >
        triglyceride = #{record.triglyceride,jdbcType=INTEGER},
      </if>
      <if test="record.highCholesterol != null" >
        high_cholesterol = #{record.highCholesterol,jdbcType=INTEGER},
      </if>
      <if test="record.lowCholesterol != null" >
        low_cholesterol = #{record.lowCholesterol,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blood_fat
    set id = #{record.id,jdbcType=INTEGER},
      cholesterol = #{record.cholesterol,jdbcType=INTEGER},
      triglyceride = #{record.triglyceride,jdbcType=INTEGER},
      high_cholesterol = #{record.highCholesterol,jdbcType=INTEGER},
      low_cholesterol = #{record.lowCholesterol,jdbcType=INTEGER},
      time = #{record.time,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guangbo.dao.entity.BloodFat" >
    update blood_fat
    <set >
      <if test="cholesterol != null" >
        cholesterol = #{cholesterol,jdbcType=INTEGER},
      </if>
      <if test="triglyceride != null" >
        triglyceride = #{triglyceride,jdbcType=INTEGER},
      </if>
      <if test="highCholesterol != null" >
        high_cholesterol = #{highCholesterol,jdbcType=INTEGER},
      </if>
      <if test="lowCholesterol != null" >
        low_cholesterol = #{lowCholesterol,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guangbo.dao.entity.BloodFat" >
    update blood_fat
    set cholesterol = #{cholesterol,jdbcType=INTEGER},
      triglyceride = #{triglyceride,jdbcType=INTEGER},
      high_cholesterol = #{highCholesterol,jdbcType=INTEGER},
      low_cholesterol = #{lowCholesterol,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>