<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guangbo.dao.mapper.TieziMapper" >
  <resultMap id="BaseResultMap" type="com.guangbo.dao.entity.Tiezi" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="clicktimes" property="clicktimes" jdbcType="INTEGER" />
    <result column="rebacktimes" property="rebacktimes" jdbcType="INTEGER" />
    <result column="zan" property="zan" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.guangbo.dao.entity.Tiezi" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, author_id, title, type_id, keywords, clicktimes, rebacktimes, zan, create_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.guangbo.dao.entity.TieziExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tiezi
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guangbo.dao.entity.TieziExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tiezi
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tiezi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tiezi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guangbo.dao.entity.TieziExample" >
    delete from tiezi
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guangbo.dao.entity.Tiezi" >
    insert into tiezi (id, author_id, title, 
      type_id, keywords, clicktimes, 
      rebacktimes, zan, create_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{authorId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=INTEGER}, #{keywords,jdbcType=VARCHAR}, #{clicktimes,jdbcType=INTEGER}, 
      #{rebacktimes,jdbcType=INTEGER}, #{zan,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guangbo.dao.entity.Tiezi" >
    insert into tiezi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="clicktimes != null" >
        clicktimes,
      </if>
      <if test="rebacktimes != null" >
        rebacktimes,
      </if>
      <if test="zan != null" >
        zan,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="clicktimes != null" >
        #{clicktimes,jdbcType=INTEGER},
      </if>
      <if test="rebacktimes != null" >
        #{rebacktimes,jdbcType=INTEGER},
      </if>
      <if test="zan != null" >
        #{zan,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guangbo.dao.entity.TieziExample" resultType="java.lang.Integer" >
    select count(*) from tiezi
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tiezi
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.authorId != null" >
        author_id = #{record.authorId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.clicktimes != null" >
        clicktimes = #{record.clicktimes,jdbcType=INTEGER},
      </if>
      <if test="record.rebacktimes != null" >
        rebacktimes = #{record.rebacktimes,jdbcType=INTEGER},
      </if>
      <if test="record.zan != null" >
        zan = #{record.zan,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tiezi
    set id = #{record.id,jdbcType=INTEGER},
      author_id = #{record.authorId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      clicktimes = #{record.clicktimes,jdbcType=INTEGER},
      rebacktimes = #{record.rebacktimes,jdbcType=INTEGER},
      zan = #{record.zan,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tiezi
    set id = #{record.id,jdbcType=INTEGER},
      author_id = #{record.authorId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      clicktimes = #{record.clicktimes,jdbcType=INTEGER},
      rebacktimes = #{record.rebacktimes,jdbcType=INTEGER},
      zan = #{record.zan,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guangbo.dao.entity.Tiezi" >
    update tiezi
    <set >
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="clicktimes != null" >
        clicktimes = #{clicktimes,jdbcType=INTEGER},
      </if>
      <if test="rebacktimes != null" >
        rebacktimes = #{rebacktimes,jdbcType=INTEGER},
      </if>
      <if test="zan != null" >
        zan = #{zan,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.guangbo.dao.entity.Tiezi" >
    update tiezi
    set author_id = #{authorId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      keywords = #{keywords,jdbcType=VARCHAR},
      clicktimes = #{clicktimes,jdbcType=INTEGER},
      rebacktimes = #{rebacktimes,jdbcType=INTEGER},
      zan = #{zan,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guangbo.dao.entity.Tiezi" >
    update tiezi
    set author_id = #{authorId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      keywords = #{keywords,jdbcType=VARCHAR},
      clicktimes = #{clicktimes,jdbcType=INTEGER},
      rebacktimes = #{rebacktimes,jdbcType=INTEGER},
      zan = #{zan,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateRebackTimes" parameterType="java.lang.Integer" >
    update tiezi
    set
    rebacktimes = rebacktimes + 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>